.modal-body {
  text-align: center;
}
input {
  margin: 10px;
  box-shadow: 5px 5px 3px yellow;
}

.modal-header,
.modal-body,
.modal-footer,
.modal-body_2 {
  background-color: black;
}

.modal-title {
  color: white;
}

label {
  padding: 20px 50px 20px 20px;
}
.labelEmail {
  padding-right: 84px;
}

small {
  padding-left: 20px;
}

input {
  width: 92%;
  margin: 10px 20px;
}
