<div class="container">
    <div class="row">
        <div class="col-m-12">
            <h5>{{title}}</h5>
            <p>Aquest lliurament està basat en una prova tècnica d'una gran empresa del sector e-commerce, 
                que busca desenvolupadors frontend a Barcelona. Aquest projecte és el típic d'una prova 
                tècnica: consum de dades de API, mostrar-los per pantalla en un llistat, i implementar el 
                detall de cada item del llistat.La web que has de desenvolupar és una web d'informació sobre 
                les naus de Star Wars! s'haurà de mostrar el llistat de naus, i en clicar en una es té que 
                els detalls d'aquesta.</p>
            <p>Per sort, no haurem d'implementar una API per a guardar les dades en una base de dades, 
                i poder consumir-los amb una sèrie de crides. En lloc d'això, usarem una API que ens 
                permetrà obtenir el llistat de naus fàcilment.</p>
            <p>(En qualsevol projecte professional, consumiràs dades d'una API, per la qual cosa has 
                d'entendre bé a fons com realitzar crides API i el asincronismo de javascript)</p>
            <button (click)="onClicked()" class="btn btn-secondary">Veure les naus</button>
        </div>
    </div>
</div>

    
